In [4]:
import pandas as pd
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
  
# print dataframe.
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [15]:
ans = df.query('Name=="tom"')['Age'][0]
ans

10