In [7]:
import pandas as pd

df = pd.DataFrame({"ABC":[3,4],"BCD":[5,6],"E":[7,8]})
df

   ABC  BCD  E
0    3    5  7
1    4    6  8

In [16]:
df.index[0]

0

In [9]:
df.columns.str.contains("BC")

array([ True,  True, False])

In [10]:
~df.columns.str.contains("BC")

array([False, False,  True])

In [13]:
df = df.loc[:, ~df.columns.str.contains("BC")]

In [14]:
df

   E
0  7
1  8

In [17]:
df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

   E
0  7
1  8

In [36]:
df = pd.DataFrame({"ABC":['a','b',None],"BCD":['a','c', 'd'],"E":[None,'d', None]})
df

    ABC BCD     E
0     a   a  None
1     b   c     d
2  None   d  None

In [34]:
df['ABC'].fillna(df['E'])

0       a
1       b
2    None
Name: ABC, dtype: object

In [41]:
df = pd.DataFrame({"ABC":['a','b',None],"BCD":['a','c', 'd'],"E":[None,'d', None]})
df

    ABC BCD     E
0     a   a  None
1     b   c     d
2  None   d  None

In [70]:
my_var = df['ABC'].iloc[0]
my_var

'a'