#  Excel File Comparison

Given Two Excel Files, We want to compare the values of each column row-wise after sorting the values and print the changed column name and row number and values change.

~~~
Input : 
Two Excel files

Output :
Column name : 'location' and Row Number : 0
Column name : 'location' and Row Number : 3
Column name : 'date' and Row Number     : 1
~~~

### importing Pandas and itertools

In [6]:
import pandas as pd
import itertools

#### Reading two Excel Sheets

In [7]:
sheet1 = pd.read_excel(r'test_files/Book1.xlsx')
sheet2 = pd.read_excel(r'test_files/Book2.xlsx')

sheet1.compare(sheet2)

     A                B              C
  self other       self     other self other
1  NaN   NaN  I am  Sam  Sam I am  NaN   NaN
3  NaN  11.0        NaN        11  NaN  11.0

In [8]:
print(list(zip(sheet1[i],sheet2[j])))
print(list(itertools.zip_longest(sheet1[i],sheet2[j])))
print(list(zip(sheet1,sheet2)))

NameError: name 'i' is not defined

In [ ]:
print('|Row|Column|Sheet1 Value|Sheet2 Value|')
print('|---|---|---|---|')
# Iterating the Columns Names of both Sheets
for i,j in zip(sheet1,sheet2):
    
    # Creating empty lists to append the columns values	
    a,b =[],[]
    # Iterating the columns values

    for m, n in zip(sheet1[i],sheet2[j]):
        # Appending values in lists
        a.append(m)
        b.append(n)

    # Sorting the lists
    #a.sort()
    #b.sort()
    
    # Iterating the list's values and comparing them

    for m, n in zip(range(len(a)), range(len(b))):
        if a[m] != b[n]:
            print(f'|{sheet1.index[m]}|{i}|{a[m]}|{b[n]}|')

In [ ]:
help(zip)